
<h2>I am Single file Uploader</h2>
<form action="/single" method="post" accept="image/x-png,image/gif,image/jpeg" enctype="multipart/form-data">
    <input type="file" name="file" /><br>
    <input type="submit" value="submit">
</form>