<h2>I am multi File uploader</h2>
<form action="/multiple" method="post" accept="image/x-png,image/gif,image/jpeg" enctype="multipart/form-data">
    Upload your DOCS1:<input type="file" name="docs" /><br>
    Upload your DOCS2:<input type="file" name="docs" /><br>
    Upload your DOCS3:<input type="file" name="docs" /><br>

    <input type="submit" value="submit">
</form>